<div class="review-explore-outer">
    <div class="review-explore">
      <div class="review-details">
        <div class="review-details-heading">
          <h1>Ready to Savor the Adventure?</h1>
          <img class="strawberry" src="images/strawberrySm.png" alt="Strawberry">
          <img class="blueberry" src="images/blueberry.png" alt="Blueberry">
        </div>
        <p class="review-paragraph">Visit Our Shop for the Magical Experience!</p>
        <button class="review-explore-btn" (click)="gotoContacts()">
          Connect Us <fa-icon [icon]="faCircleChevronRight"></fa-icon>
        </button>
      </div>
      <img class="review-image" src="images/ContactCardFalooda.png" alt="Falooda">
      <img class="review-image-sb" src="images/strawberryBig.png" alt="Strawberry Big">
    </div>
  </div>
  