<div class="review-explore-outer">
  <div class="review-explore" data-aos="fade-up" data-aos-duration="1200">
    <div class="review-details">
      <div class="review-details-heading" data-aos="fade-right" data-aos-delay="300">
        <h1>READY TO SAVOR <br class="mobile-break" /> THE ADVENTURE?</h1>
        <img class="strawberry" src="images/strawberrySm.png" alt="Strawberry" data-aos="zoom-in" data-aos-delay="400" />
        <img class="blueberry" src="images/blueberry.png" alt="Blueberry" data-aos="zoom-in" data-aos-delay="500" />
      </div>
      <p class="review-paragraph" data-aos="fade-right" data-aos-delay="600">
        Visit Our Shop for the Magical Experience!
      </p>
      <button class="review-explore-btn" (click)="gotoContacts()" data-aos="zoom-in-up" data-aos-delay="800">
        Connect Us <fa-icon [icon]="faCircleChevronRight"></fa-icon>
      </button>
    </div>

    <img class="review-image" src="images/ContactCardFalooda.png" alt="Falooda" data-aos="fade-left" data-aos-delay="900" />
    <img class="review-image-sb" src="images/strawberryBig.png" alt="Strawberry Big" data-aos="zoom-in" data-aos-delay="1000" />
  </div>
</div>
  