
<div class="products-cards" id="products-cards">
  <div class="product-card" *ngFor="let category of categoryData; let i = index" #card>
    <div class="category-details">
      <h3 class="category-name">{{ category.name }}</h3>
      <p class="category-subtitle">
        {{ category.description }}
      </p>
      <ul class="category-list">
        <li *ngFor="let item of category.items" (click)="onItemClick(category.id, item)">
          {{ item.name }}
        </li>
      </ul>
    </div>

    <div
      class="category-image"
      (click)="onImageClick(
        selectedImages[category.id]?.image || category.image,
        selectedImages[category.id]?.description || category.description
      )"
    >
      <img
        [src]="selectedImages[category.id]?.image || category.image"
        [alt]="category.name + ' image'"
        [title]="selectedImages[category.id]?.description || category.description"
        loading="lazy"
        decoding="async"
      />
      <button class="variety-count">{{ category.items.length }} Varieties</button>
    </div>
  </div>
</div>

<!-- Popup -->
<div class="image-popup" *ngIf="showPopup" (click)="closePopup()">
  <img [src]="popupImage" alt="Popup Image" />
  <div class="popup-description">{{ popupDescription }}</div>
</div>

<div class="review-explore-outer">
  <div class="review-explore">
    <div class="review-details">
      <div class="review-details-heading">
        <h1>Hear from Our Delighted Customers</h1>
      </div>
      <p class="review-paragraph">Experience the joy through their words and see why Falooda Nation is loved by all</p>
      <button class="review-explore-btn" (click)="gotoGallery()">
        Explore <fa-icon [icon]="faCircleChevronRight"></fa-icon>
      </button>
    </div>
    <img class="review-image" src="images/ProductExploreFalooda.png" alt="Falooda">
  </div>
</div>
<app-footer></app-footer>