<app-navbar [title]="'CONNECT WITH US'"
  [subtitle]="'Get In Touch'"
  [image]="'images/connectNav.png'"></app-navbar>
<div class="franchise" id="franchise">
  <div class="franchise-form-section" data-aos="fade-left">
    <div class="form-content">
      <h2 data-aos="fade-up">Become a Franchise Partner</h2>
      <p>Fill out the form to start your journey with Falooda Nation</p>
      <form ngNoForm [attr.action]="apiUrl" method="POST" target="hidden_iframe"
        (submit)="onSubmitSuccess($event)" enctype="multipart/form-data">

        <input type="text" name="name" placeholder="Name" required #name>
        <input type="tel" name="phone" placeholder="Phone No." pattern="^[0-9]{10}$" required #phone>
        <input type="email" name="email" placeholder="Email" required #email>
        <textarea name="message" placeholder="Message" required #message></textarea>

        <button type="submit">Submit</button>

        <div *ngIf="submissionSuccess" class="success-msg">Mail sent successfully!</div>
      </form>

      <iframe name="hidden_iframe" style="display: none;"></iframe>

      <div *ngIf="submissionSuccess" class="success-msg">Mail sent successfully!</div>
    </div>

    <div class="map-section" data-aos="zoom-in">
      <iframe [src]="selectedLocation" width="100%" height="250" allowfullscreen loading="lazy">
      </iframe>
      <h2 class="social-icons-heading">Connect with us</h2>
      <div class="social-icons">
        <a [href]="socialLink.youtube" target="_blank"><i class="fab fa-youtube"><fa-icon
              [icon]="faYoutube"></fa-icon></i></a>
        <a [href]="socialLink.instagram" target="_blank"><i class="fab fa-instagram"><fa-icon
              [icon]="faInstagram"></fa-icon></i></a>
        <a [href]="socialLink.facebook" target="_blank"><i class="fab fa-facebook"><fa-icon
              [icon]="faFacebook"></fa-icon></i></a>
        <a [href]="socialLink.linkedin" target="_blank"><i class="fab fa-linkedin"><fa-icon
              [icon]="faLinkedin"></fa-icon></i></a>
      </div>
    </div>
  </div>

  <section class="branches-section">
    <h2>Our Branches</h2>
    <div class="branch-grid">
      <div class="branch-card" *ngFor="let branch of branches; let i = index" (click)="setLocation(branch.location)"[attr.data-aos]="animationPicker(i, branches.length)"
      [attr.data-aos-duration]="animationTiming(i, branches.length)">
        <fa-icon class="location-icon" [icon]="faLocationDot"></fa-icon>
        <h3>{{ branch.location }}</h3>
        <ul>
          <li *ngFor="let b of branch.branches">{{ b }}</li>
        </ul>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>