.container {
    width: 100%;
    padding: 3rem 1rem;
    text-align: center;
  }
  
  .button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
  }
  
  .button-group button {
    padding: 12px 24px;
    border: none;
    border-radius: 999px;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    color: #ec4899;
    border: 1.5px solid #ec4899;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button-group button.active,
  .button-group button:hover {
    background-color: #ec4899;
    color: white;
  }
  
  .tab-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  @media (max-width : 410px) {
    .button-group button {
      padding: 10px 20px;
      font-size: 14px;
    } 
  }
  @media (max-width : 345px) {
    .button-group button {
      padding: 9px 19px;
      font-size: 12px;
    }
    .button-group {
      gap: 8px;
    }
  }