<div class="reviews-list" id="reviews">
    <div class="review-card" *ngFor="let review of visibleReviews">
      <p>"{{ review.message }}"</p>
      <strong>- {{ review.name }}</strong>
    </div>
  </div>
  <div class="view-more-wrapper" *ngIf="!allLoaded">
    <button class="view-more-btn" (click)="viewMore()">View More</button>
  </div>

  <div class="container">
    <div class="card">
      <h1 class="title">Share Your Magical Falooda Experience</h1>
      <p class="subtitle">We’d love to hear about your moments of joy with Falooda Nation. Leave your review and spread the magic!</p>
      <input class="input-place" type="text" [(ngModel)]="placeName" placeholder="Place Name" required />
      <button class="btn" (click)="redirectToGoogleReview()">Give the Review</button>
    </div>
    <div class="blob"></div>
  </div>
