.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  .video-thumbnail {
    position: relative;
  }
  
  .video-thumbnail iframe {
    width: 100%;
    border-radius: 8px;
    height: 300px;
  }
  .view-more-btn {
    background-color: #ec4899;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .view-more-btn:hover {
    background-color: #cf3c86;
  }
  .view-more-wrapper {
    text-align: center;
    margin: 20px 0;
  }
