<div class="landing-container">
  <!-- Left Side Content -->
  <div class="text-left animate-on-scroll">
    <p class="about-label">About Us</p>
    <h1 class="main-heading">
      FROM CLASSIC TO INNOVATIVE,<br />
      WE BRING YOU A DELIGHTFUL JOURNEY<br />
      IN EVERY BITE.
    </h1>
    <button class="learn-more-btn">
      Learn More <span class="arrow"><fa-icon [icon]="faCircleChevronRight"></fa-icon></span>
    </button>
    <div class="text-right-mobile animate-on-scroll">
      <p class="sub-text">
        Born from a love for falooda, Falooda Nation brings 35+ unique flavors crafted from India’s 
        iconic falooda hubs to Calicut. With outlets in Trivandrum and plans for Kochi, Bengaluru, and Dubai, the journey continues.    </p>
    </div>
  </div>

  <!-- Center Image with Bubbles -->
  <div class="image-section animate-on-scroll">
    <!-- Bubble Images -->
    <img src="images/ingredient1.png" alt="Bubble Left Top" class="bubble bubble-left-top" />
    <img src="images/ingredient2.png" alt="Bubble Left Bottom" class="bubble bubble-left-bottom" />
    <img src="images/ingredient3.png" alt="Bubble Right Top" class="bubble bubble-right-top" />
    <img src="images/ingredient4.png" alt="Bubble Right Bottom" class="bubble bubble-right-bottom" />

  </div>
      <!-- Main Dessert Image -->

      <img src="images/falooda-glass.png" alt="Dessert" class="main-dessert" />


  <!-- Right Side Paragraph -->
  <div class="text-right animate-on-scroll">
    <p class="sub-text">
      Born from a love for falooda, Falooda Nation brings 35+ unique flavors crafted from India’s 
      iconic falooda hubs to Calicut. With outlets in Trivandrum and plans for Kochi, Bengaluru, and Dubai, the journey continues.    </p>
  </div>
</div>
