<footer data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <img src="images/FaloodaNationLogo.png" alt="faloodanation-logo">
                <ul>
                    <li class="footer-para"><p>Falooda Nation – Redefining Desserts One Scoop at a Time</p></li>
                </ul>
            </div>
            <!--2nd column--->
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/aboutUs">About Us</a></li>
                    <li><a routerLink="/ourProducts">Products</a></li>
                </ul>
            </div>
            <!--3nd column--->
            <div class="footer-col">
                <h4>Business</h4>
                <ul>
                    <li><a routerLink="/contactUs">Franchise</a></li>
                    <li><a routerLink="/gallery" >Gallery</a></li>
                </ul>
            </div>
            <!--4nd column--->
            <div class="footer-col">
                <h4>Support</h4>
                <ul>
                    <li><a (click)="gotoReviews()">Review</a></li>
                    <li><a routerLink="/contactUs">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <hr class="hr-line">
        <div class="row-footer">
            <div class="col">
                <p>&#169; 2025 Faloodanation. All Rights Reserved.</p>
            </div>
            <div class="socialIcons">
                <a [href]="socialLinks.youtube" target="_blank"><i><fa-icon [icon]="faYoutube"></fa-icon></i></a>
                <a [href]="socialLinks.instagram" target="_blank"><i><fa-icon [icon]="faInstagram"></fa-icon></i></a>
                <a [href]="socialLinks.facebook" target="_blank"><i><fa-icon [icon]="faFacebook"></fa-icon></i></a>
                <a [href]="socialLinks.instagram" target="_blank"><i><fa-icon [icon]="faLinkedin"></fa-icon></i></a>
            </div>
        </div>
    </div>
</footer>