<footer>
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <!-- <img src="images/logo.png" alt=""> -->
                <ul>
                    <li><a>Falooda Nation – Redefining Desserts One Scoop at a Time</a></li>
                </ul>
            </div>
            <!--2nd column--->
        <div class="footer-col">
            <h4>Company</h4>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Products</a></li>
            </ul>
        </div>
        <!--3nd column--->
        <div class="footer-col">
            <h4>Business</h4>
            <ul>
                <li><a href="">Franchisee</a></li>
                <li><a href="">Gallery</a></li>
            </ul>
        </div>
        <!--4nd column--->
        <div class="footer-col">
            <h4>Support</h4>
            <ul>
                <li><a href="">Review</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <hr>
        <div class="row">
            <div class="col">
               <p>&#169; 2024 Faloodanation. All Rights Reserved.</p> 
            </div>
            <div class="socialIcons">
            <a href=""><i>f</i></a>
            <a href=""><i>i</i></a>
            <a href=""><i>t</i></a>
            <a href=""><i>y</i></a>
            </div>
        </div>
    </div>
</footer>