footer .container {
    background-image: url('../images/FooterBG.png');
    background-size: cover;
    background-position: 100% 100%;
    overflow: hidden;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.row-footer{
    display: flex;
    justify-content: space-between;
    padding: 25px 100px;
}

.footer-col ul {
    list-style: none;
}
.footer-col img {
    height: 70px;
}

.footer-col h4 {
    color: #CA4D8C;
    margin-bottom: 25px;
    font-size: 20px;
    position: relative;
}

.footer-col ul li {
    padding: 10px 0;
}

.footer-col ul li a {
    color: #2C2C2C;
    font-size: 18px;
    opacity: 70%;
    transition: 0.5s;
}
.footer-col ul li p {
    color: #2C2C2C;
    font-size: 18px;
    transition: 0.5s;
    opacity: 70%;
}

.footer-col ul li a:hover {
    opacity: 100%;
}

.col p {
    color: #2C2C2C;
    font-size: 18px;
    opacity: 70%;
}
.hr-line{
    opacity: 10%;
    color: #2C2C2C;
}
.row-footer .socialIcons i {
    display: inline-block;
    color: #CA4D8C;
    font-size: 22px;
    margin: 0 10px;
    transition: 0.5s;
    background-color:#fff;
    padding: 10px 12px;
    border-radius: 100%;  
}

.row-footer .socialIcons i:hover {
    color: #72bcb6;
}

@media(max-width:700px) {
    footer .container {
       background-color: #e8f5f4;
       background-image: none;
    }
    footer .row {
        flex-direction: column;
        padding: 20px 50px;
    }
    .footer-col{
        align-items: center;
    }

    footer .footer-col ul {
        margin-bottom: 20px;
    }
    .row-footer .socialIcons i{
        margin-top: 12px;
    }
    .row-footer{
        flex-direction: column;
        padding: 20px 30px;
        align-items: center; 
    }
    .footer-col ul li p {
     display: none;
    }
    .row-footer .socialIcons i {
        margin-top: 20px;  
    }
    
}
@media(max-width:1100px){
    .footer-col img {
        height: 50px;
    }
    .footer-col ul li p {
        font-size: 16px;
    }
    .col p {
        font-size: 16px;
    }
    .footer-col h4{
        font-size: 19px;   
    }
    .row {
        padding: 40px 40px;
    }
    .row-footer{
        padding: 25px 40px;
        align-items: center; 
        text-align: center;
    }
    .footer-col{
        margin-left: 18px;
    }
    .footer-para{
        width: 300px;
    }
}
@media(max-width:350px) {

    .row-footer .socialIcons i{
        margin-top: 12px;
    }
    .row-footer{
        flex-direction: column;
        padding: 30px 20px;
        align-items: center; 
        text-align: center;
    }
    .footer-col ul li p {
     display: none;
    }
    .row-footer .socialIcons i {
        margin-top: 20px;  
    }
    
}