* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: #2c2c2c;
  font-size: 18px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  transition: all 0.4s ease;
  padding: 7px 13px;
}
a:hover {
  font-weight: bold;
  transform: translateY(-2px);
}

nav ul li button {
  background-color: #fdeef4;
  border-radius: 999px;
  color: #ca4d8c;
  border: 1px solid #ca4d8c;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s ease;
}
nav ul li button:hover {
  background-color: #b03b76;
  color: #fff;
  transform: translateY(-2px);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.main {
  overflow: hidden;
}

/* HEADER */
.header {

  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  padding: 0 1rem;
  margin-top: 20px;
}

.nav__logo {
  height: 70px;
}
.nav__logo img {
  height: 70px;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__close {
  display: none;
}

.show-menu {
  top: 60px;
}

/* HOME */
.home {
  padding: 2.5rem 0 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.home__data {
  order: 2;
  text-align: left;
}

.home__data h1 {
  color: #2c2c2c;
  font-family: 'Phudu', sans-serif;
  font-size: 75px;
  font-weight: bold;
  line-height: 1.2;
}

.home__data .highlight {
  color: #ca4d8c;
  font-size: 75px;
  font-weight: bold;
  font-family: 'Phudu', sans-serif;
}

.home__data p {
  color: #5f5e5e;
  font-size: 20px;
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.home__data .heading-png {
  height: 67px;
  width: 103px;
}

.review-explore-btn {
  background-color: #fdeef4;
  border-radius: 999px;
  color: #ca4d8c;
  border: 1px solid #ca4d8c;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.4s ease;
  margin: 1rem 0;
}

.review-explore-btn:hover {
  box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
}

.home__img {
  justify-self: center;
  order: 1;
}

.home__img img {
  max-height: 60vh;
  width: auto;
  object-fit: contain;
  animation: floaty 1.8s infinite alternate;
}

.home__shadow {
  width: 130px;
  height: 24px;
  background-color: hsla(38, 21%, 19%, .16);
  margin: 0 auto;
  border-radius: 50%;
  filter: blur(7px);
  animation: shadow 1.8s infinite alternate;
}

@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.85, 0.85);
  }
}

/* MEDIA QUERIES */


@media screen and (max-width: 991px) {
  .home__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .home__data,
  .home__img {
    order: unset;
  }

  .nav__toggle {
    display: block;
  }

  .nav__menu {
    flex-direction: column;
    position: fixed;
    background-color: #fdeef4;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 5rem 0 4rem;
    z-index: 1000;
    transition: top 0.4s ease-in-out;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  }

  .nav__menu.show-menu {
    top: 0px;
  }

  .nav__close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
  }

  .nav__list {
    flex-direction: column;
    gap: 1.5rem;
  }
  .nav__logo img {
  height: 70px;
}
  .home__data {
  text-align: center;
}

.home__img img{
   max-height: 50vh;
}

}

@media screen and (max-width: 760px) {
  .home__data {
  text-align: center;
}
.home__container {
    gap: 2rem;
}
.home__data p {
    margin-top: 20px;
    margin-bottom: 20px;
}
  .nav__logo img {
  height: 60px;
}

.home__data h1 {
  color: #2c2c2c;
  font-family: 'Phudu', sans-serif;
  font-size: 65px;
  font-weight: bold;
  line-height: 1.2;
}

.home__data .highlight {
  color: #ca4d8c;
  font-size: 65px;
  font-weight: bold;
  font-family: 'Phudu', sans-serif;
}

.home__data p {
  color: #5f5e5e;
  font-size: 18px;
  margin-top: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.home__data .heading-png {
  height: 67px;
  width: 103px;
}
.home {
  padding: 3rem 0 2rem;
}
}
