<section class="showcase-section" data-aos="fade-in">
  <div class="section-header">
    <p class="label">Our Products</p>
    <h2 class="title">OUR SIGNATURE FALOODAS & MORE</h2>
    <p class="subtitle">Over 35 Varieties Across Eight Categories</p>
  </div>

  <div class="product-grid">
    <div class="product-card" *ngFor="let category of categoryData | slice:0:4; let i = index"
      (click)="onViewAllClick()" data-aos="fade-up" [attr.data-aos-delay]="i * 200" data-aos-duration="1000"
      data-aos-easing="ease-in-out">
      <div class="badge">{{ category.items.length }} Varieties</div>
      <img [src]="category.image" [alt]="category.name" />
      <div class="card-footer">
        <h3>{{ category.name }}</h3>
        <button class="action-btn" (click)="onViewAllClick()">
          <fa-icon [icon]="faCircleChevronRight"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="cta">
    <button class="see-all-btn" (click)="onViewAllClick()">See All <fa-icon
        [icon]="faCircleChevronRight"></fa-icon></button>
  </div>
</section>