.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
transition: opacity 0.4s ease, transform 0.4s ease;
}

.whatsapp-float.hidden {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float img {
  width: 100px;
  height: 100px;
}

/* Optional: pop animation */
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .whatsapp-float {
    bottom: 15px;
    right: 15px;
    padding: 10px;
  }

  .whatsapp-float img {
    width: 90px;
    height: 90px;
  }
  .whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 9999;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
}
